 /* NAVBAR */
header{
    background: linear-gradient(#58D3F7, #FEFEFE)!important;
    font-family:'Amatic SC', cursive;
    font-size: 50px;
 }
  
.container {   
    width: 100%;
}
@media screen and (max-width: 600px) {
    .pesquisa {
      display: none;
    }
  }
/* FIM DO CSS NAVBAR */

/* Banner Entre </header> e <main>/ */
.banner {
    width: 100%;
}

/* FOOTER */
footer {
    background: linear-gradient( #FEFEFE,#58D3F7 )!important;
}
footer p {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-size: 10px; 
    font-style: bold;   
}
.copyright {
    margin: 5px 0 5px 0;
    padding-bottom: 10px;
}
.final p {
    margin: 5px 0 10px 0;
}
.final a {
    padding: 5px;
}
