html,
body {
    margin: 0px;
    padding: 0px;
}


/* NAVBAR */

header {
    background: linear-gradient(#58D3F7, #FEFEFE)!important;
    font-family: 'Amatic SC', cursive;
    font-size: 50px;
}

.container {
    width: 100%;
}

@media screen and (max-width: 600px) {
    .pesquisa {
        display: none;
    }
}


/* FIM DO CSS NAVBAR */


/* Banner Entre </header> e <main>/ */

.banner {
    width: 100%;
}

.copyright {
    margin: 5px 0 5px 0;
    padding-bottom: 10px;
}

.final p {
    margin: 5px 0 10px 0;
}

.final a {
    padding: 5px;
}

body {
    font-family: 'Amatic SC', cursive;
}

.promfolder {
    text-align: center;
    padding-top: 5%;
    padding-bottom: 2%;
}

.prom {
    border-radius: 40px;
    width: 70%;
}

.search {
    background-color: lawngreen;
}

.nav-link {
    color: black;
    padding-top: 6px;
}

.sidebar {
    font-size: 20px;
    line-height: 12px;
    padding-top: 15px;
}

.card-deck {
    padding-top: 40px;
}

.card {
    width: 100%;
    border: 0px;
}

.card-img-top {
    width: 100%;
    border-radius: 50px;
}

.card-body {
    text-align: center;
}

.card-title a {
    color: #000000;
    font-size: 22px;
    letter-spacing: 1px;
}

.card-text {
    font-size: 20px;
}


/* FOOTER */

footer {
    background: linear-gradient( #FEFEFE, #58D3F7)!important;
}

footer p {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-size: 10px;
    font-style: bold;
}

@media (max-width: 1000px) {
    .prom {
        border-radius: 30px;
    }
    .card-deck {
        display: inline-block;
        width: 60%;
        padding-bottom: 40px;
        padding-left: 0px;
    }
    .card {
        width: 100px;
    }
    .card-img-top {
        border-radius: 30px;
    }
    .card-title a {
        font-size: 18px;
    }
    .card-text {
        font-size: 16px;
        line-height: 12px;
    }
    .sidebar {
        font-size: 100%;
        line-height: 15px;
    }
    .col1pv {
        width: 50%;
    }
}