 
 /* NAVBAR */
 header{
    background: linear-gradient(#58D3F7, #FEFEFE)!important;
    font-family:'Amatic SC', cursive;
    font-size: 50px;
 }
  
.container {   
    width: 100%;
}

/* FIM DO CSS NAVBAR */

.banner {
    width: 100%;
}

/* FOOTER */
footer {
    background: linear-gradient( #FEFEFE,#58D3F7 )!important;
}
.copyright {
    font-family: 'Montserrat', sans-serif; 
	color: #000000;
	font-size: 10px;
    margin: 5px 0 5px 0;
    text-align: center;
    padding-bottom: 10px;
}