            /* INICIO VIEW PRODUTO */
            
            .descrprod {
                padding-top: 40%;
                text-align: center;
            }
            
            .titleprod {
                font-size: 24px;
            }
            /* FIM VIEW PRODUTO */