/* BEGIN OF HOME ADM CSS */
/* NAVBAR */

.header-directrix{
    background: linear-gradient(#58D3F7, #FEFEFE)!important;
    font-family:'Amatic SC', cursive;
    font-size: 50px;
 }
  
.container-header {   
    width: 100%;
}
@media screen and (max-width: 1000px) {
    .search{
      display: none;
    }
}


/* END OF CSS NAVBAR */
/* MAIN  ADMINISTRATIVE PAGE */

.home-directrix {
    font-family: 'Montserrat', sans-serif;
    height: 800px;   /* Footer no fim da página, explico no fim do css. */
}

.home-directrix h1 {    
    font-size: 30px;
    text-align: center;
    padding-bottom: 50px;
    padding-top: 10px;
}
.home-directrix h5 {
    font-size: 18px;
}
/* Responsive Main */

@media screen and (max-width: 425px){
    .media-home {
        margin-left:35px;
        
    }
}
@media screen and (max-width: 375px){
    .media-home {
        margin-left:12px;
        
    }
}
@media screen and (max-width: 320px){
    .media-home {
        margin-left: 0px;
        margin-right:6px;
        
    }
}
/* END OF MAIN ADMINISTRATIVE PAGE */

/* FOOTER */
footer {
    background: linear-gradient( #FEFEFE,#58D3F7 )!important;
    
}
footer p {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-size: 10px; 
    font-style: bold;   
}
.copyright {
    margin: 5px 0 5px 0;
    padding-bottom: 10px;
}
.final-footer p {
    margin: 5px 0 10px 0;
}
.final-footer a {
    padding: 5px;
}
.icons {
    color: #141414;
}
.icons:hover {
    color: rgb(4, 14, 134);
}

/* END OF FOOTER */

/* FOOTER IN THE END OF PAGE 
O bootstrap por padrão deixa o Footer sempre no final da página, sem que ele suba com o scroll.
Porém, quando o conteúdo de uma pag. não ocupa toda a pixelagem do display de uma respectiva resolução de tela,
é necessário adaptar a página, para que o Footer não "Suba" com o final do conteúdo.
A adaptação é feita com um height: (pixelagem desejada)px; em uma classe da primeira div que engloba todo o main;
o exemplo para pag. Home ADM é demonstrado na classe home-directrix.
 Caso esteje em dúvida do funcionamento, aqui no css, apague o height na classe home-directrix e observe.

/* END OF CSS HOME ADM*/
  