 
 /* NAVBAR */
 .header-directrix{
    background: linear-gradient(#58D3F7, #FEFEFE)!important;
    font-family:'Amatic SC', cursive;
    font-size: 50px;
 }
  
.container-header {   
    width: 100%;
}
@media screen and (max-width: 1000px) {
    .search, .banner-header{
      display: none;
    }
}
.banner-header {
    width: 100%;
}


/* END OF CSS NAVBAR */


/* FOOTER */
footer {
    background: linear-gradient( #FEFEFE,#58D3F7 )!important;
}
footer p {
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-size: 10px; 
    font-style: bold;   
}
.copyright {
    margin: 5px 0 5px 0;
    padding-bottom: 10px;
}
.final-footer p {
    margin: 5px 0 10px 0;
}
.final-footer a {
    padding: 5px;
}
.icons {
    color: #141414;
}
.icons:hover {
    color: rgb(4, 14, 134);
}
/* END OF FOOTER */
/* FOOTER IN THE END OF PAGE */


 
  #content-wrap {
    padding-bottom: 5rem;    /* Footer height */
  }
  
 
  }
  /* END OF CSS HOME ADM*/

